.cont{
    padding: 10px 0;
    width: 100%;
}
.image1{
    overflow: hidden;
}
.image2{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 0;
}
.img2{
    padding: 0 10px 10px 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2:hover{
    cursor: pointer;
}
.image1:hover{
    cursor: pointer;
}
.imgSlider{
    height: 638px;
    width: 100%;
}