.cont{
    padding: 10px 0;
    width: 100%;
}
.image1{
    /* width: 100%; */
    overflow: hidden;
}
.image2{
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;
}
.img2{
    padding: 0 10px 10px 2px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.images{
    padding-left: 0;
}

.img2:hover{
    cursor: pointer;
}
.image1:hover{
    cursor: pointer;
}
