.productItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(212, 212, 212);
    
}
.productDesc{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    width: 70%;
}
.productDesc h6{
    font-size: 10px;
    margin-bottom: 0;
}
.counterBtn{
    display: flex;
    align-items: center;
}
.counterBtn p{
    margin-left: 15px;
    margin-bottom: 0;
}
.counterBtn Button{
    margin: 5px;
    height: 28px;
    text-align: center;
}
