.paymentBody {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.basketItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 15px;
    border-bottom: 1px solid rgb(212, 212, 212);

}

.basketDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
}

.basketDesc h6 {
    font-size: 10px;
    margin-bottom: 0;
}

.basketCounterBtn {
    display: flex;
    align-items: center;
}

.basketCounterBtn p {
    margin-left: 15px;
    margin-bottom: 0;
}

.basketCounterBtn Button {
    margin: 5px;
    height: 28px;
    text-align: center;
}

.basketTrashTitle p {
    margin: 0;
}

.basketButton {
    margin: 10px auto;
    width: 100px;
}
.basketPayment{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: #FFF8F3;
    width: 300px;
    position: sticky;
    top: 20px;
}

@media (max-width: 575.98px) { 
    .paymentBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }
@media (max-width: 798px) { 
    .paymentBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }