.product {
    border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.product:hover {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(143, 143, 143, 0.75);
    -moz-box-shadow: 1px 1px 10px 1px rgba(143, 143, 143, 0.75);
    box-shadow: 1px 1px 8px 1px rgba(143, 143, 143, 0.75);
}

.imageProduct {
    width: 200px;
    margin-bottom: 20px;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

p {
    text-align: center;
    font-size: 13px;
}

.imageProduct:hover,
p:hover {
    cursor: pointer;
}

.priceButton {
    display: flex;
    align-items: baseline;
}

.priceButton h6 {
    margin-right: 80px;
}

.linkProduct {
    text-decoration: none;
}